/* Site Body */

* { outline: none; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
img, video { height: auto !important; max-width: 100% !important; }
a { -webkit-transition: color 0.4s ease-in-out; -moz-transition: color 0.4s ease-in-out; transition: color 0.4s ease-in-out; -o-transition: color 0.4s ease-in-out; text-decoration: none; }
.main-content { padding-top: 10px; }

/* Header Area */

#header { width: auto; background-color: #FFFFFF; }
#header { padding: 1em 0em; }
#header .header-widget { float: right; }
#header .logo, #header #site_title { float: left; }
#header .logo a, #header #site_title a { font-size: 50px; vertical-align: middle; }
#header .logo img { vertical-align: middle; }
#header .widget img { vertical-align: middle; }

/* Header Menu */

.header-nav { position: relative; list-style: none; z-index: 50; }
.header-nav li { position: relative; float: left; }
.header-nav ul { position: absolute; visibility: hidden; list-style: none; z-index: 110; }
.header-nav ul li { clear: both; }
.header-nav a { display: block; }
.header-nav ul ul { position: absolute; top: 0; }
.header-nav li:hover ul, .header-nav a:hover ul, .header-nav :hover ul :hover ul, .header-nav :hover ul :hover ul :hover ul { visibility: visible; }
.header-nav :hover ul ul, .header-nav :hover ul :hover ul ul { visibility: hidden; }
.header-nav ul, .header-nav ul li { width: 150px; }
.header-nav ul ul, .header-nav :hover ul :hover ul { left: 150px; }
.header-nav a { font-size: 14px; text-decoration: none; padding-top: 15px; padding-right: 15px; padding-bottom: 15px; padding-left: 15px; }
.header-nav ul a { width: auto; }
.header-nav a, .header-nav .current ul a, .header-nav .current-cat ul a, .header-nav .current-menu-item ul a { color: #cdcdcd; background-color: #0a0a0a; }
.header-nav a:hover, .header-nav .current ul a:hover, .header-nav .current-cat ul a:hover, .header-nav .current-parent a:hover, .header-nav .current-menu-item ul a:hover, .header-nav .current-menu-ancestor a:hover { color: #ffffff; }
.header-nav .current a, .header-nav .current a:hover, .header-nav .current-cat a, .header-nav .current-cat a:hover, .header-nav .current-menu-item a, .header-nav .current-menu-item a:hover { color: #ffffff; }
.header-nav .current-parent > a, .header-nav .current-cat-parent > a, .header-nav .current-menu-ancestor > a { color: #ffffff; }
.header-menu { background: #0a0a0a; }
.header-menu ul { list-style: none; }
.header-menu a:hover { background-image: url(images/top-menu-current.png); background-position: 50% 100%; background-repeat: no-repeat no-repeat; }
.header-menu li li a:hover { background-image: none; }

/* Secondary Menu */

.menu { position: relative; list-style: none; z-index: 50; }
.menu li { position: relative; float: left; }
.menu ul { position: absolute; visibility: hidden; list-style: none; z-index: 110; }
.menu ul li { clear: both; }
.menu a { display: block; }
.menu ul ul { position: absolute; top: 0; }
.menu li:hover ul, .menu a:hover ul, .menu :hover ul :hover ul, .menu :hover ul :hover ul :hover ul { visibility: visible; }
.menu :hover ul ul, .menu :hover ul :hover ul ul { visibility: hidden; }
.menu ul, .menu ul li { width: 170px; }
.menu ul ul, .menu :hover ul :hover ul { left: 170px; }
.menu a { padding-top: 10px; padding-right: 20px; padding-bottom: 10px; padding-left: 20px; }
.menu ul a { width: auto; }
.menu a, .menu .current ul a, .menu .current-cat ul a, .menu .current-menu-item ul a { color: #fff; }
.menu a:hover, .menu .current ul a:hover, .menu .current-cat ul a:hover, .menu .current-parent a:hover, .menu .current-menu-item ul a:hover, .menu .current-menu-ancestor a:hover { color: #fff; }
.menu a { -webkit-transition: background 0.4s ease-out; transition: background 0.4s ease-out; -moz-transition: background 0.4s ease-out; -o-transition: background 0.4s ease-out; }
nav a#pull { display: none; }
.menu i, .header-menu i { padding-right: 25px; }

/* Site Layout Structure */

.main-content .page, .main-content .page > .content, .main-content .page > .sidebar { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.main-content .page > .content { float: left; padding-left: 10px; padding-top: 10px; padding-right: 10px; border-right: 1px solid #eee; }
.main-content .page > .sidebar { float: left; padding-top: 10px; padding-right: 20px; }
.main-content .page { -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 6px; -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 6px; box-shadow: rgba(0, 0, 0, 0.2) 0 0 6px; background-color: #FFFFFF; }

/* Single Post Styles */

.content .postbox, .content .postbox h4 { line-height: 26px; }
.content .postbox .post_content h2, .content .postbox h3 { font-size: 20px; line-height: 32px; margin-top: 39px; margin-bottom: 13px; }
.content .postbox h5, .content .postbox .small { font-size: 13px; line-height: 21px; }
.content .postbox .drop_cap { font-size: 52px; line-height: 1em; margin-right: 9px; float: left; }
.content .postbox p, .content .postbox ul, .content .postbox ol, .content .postbox blockquote, .content .postbox pre, .content .postbox dl, .content .postbox dd { margin-bottom: 26px; }
.content .postbox ul { list-style-type: square; }
.content .postbox ul, .content .postbox ol { margin-left: 26px; }
.content .postbox ul ul, .content .postbox ul ol, .content .postbox ol ul, .content .postbox ol ol { margin-left: 26px; }
.content .postbox ul ul, .content .postbox ul ol, .content .postbox ol ul, .content .postbox ol ol, .wp-caption p { margin-bottom: 0; }
.content .postbox .left, .content .postbox .alignleft, .content .postbox .ad_left { margin-bottom: 26px; margin-right: 26px; }
.content .postbox .right, .content .postbox .alignright, .content .postbox .ad { margin-bottom: 26px; margin-left: 26px; }
.content .postbox .center, .content .postbox .aligncenter { margin-bottom: 26px; }
.content .postbox .block, .content .postbox .alignnone { margin-bottom: 26px; }
.content .postbox .stack { margin-left: 26px; }
.postbox {padding: 2px 12px; border: none; background-color: #fff;}
.post-intro { margin-top: 10px;}
/* Byline */
.post-byline { color: #5e5e5e; border-top: 1px solid #eee; border-bottom: 1px solid #eee; margin-top: 8px; margin-bottom: 5px;}
.postbox .post-byline .byline-item { display: inline; margin-right: 1.5em; }
.num_comments_link { float: right; }
.post_cats { display: inline; }
.post_image, .thumb { width: 120px; height: 120px; float: left; margin-right: 1.5em; margin-top: 5px; -moz-box-shadow:#D1D1D1 0 1px 2px; -webkit-box-shadow:#D1D1D1 0 1px 2px; background-color:#FFFFFF; border:1px solid #D1D1D1; box-shadow:#D1D1D1 0 1px 2px; padding:5px; position:relative; -webkit-transition: background 0.4s ease-in-out; -moz-transition: background 0.4s ease-in-out; -o-transition: background 0.4s ease-in-out; transition: background 0.4s ease-in-out; }
.wp-post-image { -moz-box-shadow: #D1D1D1 0 1px 2px; -webkit-box-shadow: #D1D1D1 0 1px 2px; background-color: #FFFFFF; border: 1px solid #D1D1D1; box-shadow: #D1D1D1 0 1px 2px; padding: 5px; display: block; margin: 0 auto; -webkit-transition: background 0.4s ease-in-out; -moz-transition: background 0.4s ease-in-out; -o-transition: background 0.4s ease-in-out; transition: background 0.4s ease-in-out; }
.postbox .post_text h1 { font-family: inherit; margin-top: -15px; margin-bottom: 10px; font-size: 33px; }
.postbox .post_text h2 { font-family: inherit; margin-top: -15px; margin-bottom: 10px; font-size: 28px; }
.postbox .post_text h3 { font-family: inherit; margin-top: -15px; margin-bottom: 10px; font-size: 25px; }
.postbox .post_text h4 { font-family: inherit; margin-top: -15px; margin-bottom: 10px; font-size: 23px; }
.postbox .post_text h5 { font-family: inherit; margin-bottom: 10px; font-size: 18px; }
.next_post { float: right; }
h1.archive_title { margin-bottom: 5px; border-bottom: 4px solid #000; padding-bottom: 5px; }
.page-numbers.current { color: #FFFFFF; }
.page-numbers:hover { color: #FFFFFF; }
.page-numbers.dots:hover { color: #FFFFFF; }

/* Comments and Comment Form */

.comment { line-height: 26px; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px; }
.comment .comment_author { font-size: 20px; line-height: 32px; }
.comment .comment_aux { font-size: 13px; line-height: 21px; }
.children .comment { list-style-type: none; margin-left: 15px; }
.bypostauthor { background-color: #eee; border-width: 1px; border-style: solid; border-color: #C9C9C9; }
.children .bypostauthor { background-color: #eee; border-width: 1px; border-style: solid; border-color: #c9c9c9; }
.comment p, .comment .comment_text ul, .comment .comment_text ol, .comment .comment_text blockquote, .comment .comment_text pre { margin-bottom: 26px; }
.comment .comment_text li ul, .comment .comment_text li ol { margin-left: 26px; margin-bottom: 0; }
.comment .comment_text .left, .comment .comment_text .alignleft { margin-bottom: 26px; margin-right: 26px; }
.comment .comment_text .right, .comment .comment_text .alignright { margin-bottom: 26px; margin-left: 26px; }
.comment .comment_text .center, .comment .comment_text .aligncenter { margin: 0 auto 26px auto; }
.comment .comment_text .block, .comment .comment_text .alignnone { margin: 0 auto 26px 0; }
ul.comments { list-style: none; margin-left: 0; }
.comment { margin: 15px 0px; padding: 10px; }
.comment_date a { border: 0; display: block;  }
span.comment_date { line-height: 20px; display: block; font-size: 80%; }
.comment .avatar { margin-right: 2px; float: right; border-radius: 50%; width: 70px; }
a.comment-reply-link { display: block; margin-top: 12px; -webkit-transition: background 0.4s ease-in-out; -moz-transition: background 0.4s ease-in-out; -o-transition: background 0.4s ease-in-out; transition: background 0.4s ease-in-out; }
a.comment-reply-link { border: 0; color: #fff; font-size: 10px; letter-spacing: 2px; text-transform: uppercase; display: inline; padding: 5px; font-family: inherit; }
a:hover.comment-reply-link { color: #fff; } 
#commentform { margin: 40px 0; padding: 10px; }
#comment_form_title { font-size: 25px; font-weight: bold;}
.comments_intro { font-size: 24px; line-height: 31px; margin: 12px 0; padding-bottom: 12px; text-align: center; }
.comments_intro a { font-size: 16px; }
#commentform p { margin-bottom: 24px; }
#commentform label { color: #5e5e5e; display: block; font-size: 18px; }
#commentform .required { color: red; }
#commentform input[type="text"] { width: 50%; }
#commentform textarea { width: 85%; }
#cancel-comment-reply-link { }
#comment_nav { list-style: none; margin-left: 0; }
#comment_form_submit .input_submit { color: #fff; padding: 10px; transition: background 0.4s ease-in-out; -o-transition: background 0.4s ease-in-out; -webkit-transition: background 0.4s ease-in-out; -moz-transition: background 0.4s ease-in-out;}
#comment_form_submit .input_submit:hover { cursor:pointer; }
#commentform  input#email { padding-left: 30px; background: #fff url(images/email.png) no-repeat center left; }
#commentform input.name, input#author, input#name { padding-left: 35px; background: #fff url(images/user.png) no-repeat center left; }
#commentform input#url { padding-left: 35px; background: #fff url(images/link.png) no-repeat center left; }

/* Widgets and Misc. */
.widget { line-height: 26px; margin-left: 10px; padding-left: 10px; }
.widget .widget_title { font-size: 25px; line-height: 40px; }
.widget p,  .widget ul { margin-bottom: 26px; }
.widget li ul { margin-bottom: 0; }
.widget ul { list-style-type: square; list-style-position: inside; }
.widget ul,  .widget ol { margin-left: 26px; }

input { font-size: inherit; line-height: 1em; font-family: inherit; }
input, textarea { background-color: #fff; border: 1px solid #dedede; font-family: inherit; font-size: inherit; padding: 11px;  -moz-box-shadow: 0 0 5px #eee;
-webkit-box-shadow: 0 0 5px #eee; box-shadow: 0 0 5px #eee; -webkit-appearance: none; }
input[type="text"], input[type="email"], input[type="password"] { background: #fff; }
input[type="radio"] { -webkit-appearance: radio; }
input[type="checkbox"] { -webkit-appearance: checkbox; }
input.name, input#author, input.email, input#email, input#url { background: #fff;  padding-left: 6px; }
input.name, input.email, input#email, input#url {width: 100%; }
input.email { background: #fff url(images/email.png) no-repeat center right; }
input.name { background: #fff url(images/user.png) no-repeat center right; }
:-moz-placeholder { color: #5e5e5e; display: inline; margin-left: 20px; }
::-webkit-input-placeholder { color: #5e5e5e; display: inline; margin-left: 20px; }
:focus::-webkit-input-placeholder { color: transparent; }

/* Pre-Footer Area and Footer */

.footer { width: auto; color: #ffffff; padding-top: 30px; padding-bottom: 30px; }
.footer .footer-widget { float: left; width: 32%;}
.footer .footer-att { text-align: center; background-image: url(images/divider_line_footer.gif); background-position: 10% 0%; background-repeat: repeat no-repeat;  margin-left: 10px;  margin-right: 10px; padding-top: 10px; width: auto; }
.pre-footer-area .widget .widget_title { font-size: 23px; padding: 5px; background: #eee; text-align: center; line-height: 32px; }
.pre-footer-area .pre-footer-column .widget h4 { text-align: center; background-color: #F1F1F1; margin: 0 0 0; padding: 5px; }
.pre-footer-area .last-pre-footer { margin-right: 0; }
.pre-footer-area .thesislove-featured-posts-description { width: 70%; }
.pre-footer-area { padding: 15px; margin-bottom: 10px; margin-top: 10px; -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 6px; -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 6px; background-color: #FFFFFF; box-shadow: rgba(0, 0, 0, 0.2) 0 0 6px; }
.pre-footer-area .pre-footer-column { float: left; width: 31.3333%; margin-right: 2%; position: relative; }




/* ===[[  ThesisLove Icon Fonts ]]=== */

@font-face {
  font-family: 'FontAwesome';
  src: url('/wp-content/thesis/skins/expressive/fonts/fontawesome-webfont.eot?v=3.0.1');
  src: url('/wp-content/thesis/skins/expressive/fonts/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
    url('/wp-content/thesis/skins/expressive/fonts/fontawesome-webfont.woff?v=3.0.1') format('woff'),
    url('/wp-content/thesis/skins/expressive/fonts/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* ===[[  ThesisLove Buttons ]]=== */


.button, .button span {
	display: inline-block;
		-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.button, a.button {
	white-space: nowrap;
	line-height:1em;
        margin-right: 4px;
	position:relative;
	outline: none;
	overflow: visible; /* removes extra side padding in IE */
	cursor: pointer;
	border: 1px solid #999;/* IE */
	border: rgba(0, 0, 0, .2) 1px solid;/* Saf4+, Chrome, FF3.6 */
	border-bottom:rgba(0, 0, 0, .4) 1px solid;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	background-color: #333333;
	background: -moz-linear-gradient(
		center top,
		rgba(255, 255, 255, .1) 0%,
		rgba(0, 0, 0, .1) 100%
	);/* FF3.6 */
	background: -webkit-gradient(
		linear,
		center bottom,
		center top,
		from(rgba(0, 0, 0, .1)),
		to(rgba(255, 255, 255, .1))
	);/* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000')"; /* IE8 */
	-moz-user-select: none;
	-webkit-user-select:none;
	-khtml-user-select: none;
	user-select: none;
	margin-bottom:10px;
        -webkit-transition: none;
}
.button.full, .button.full span {
	display: block;
}
.button:hover, .button.hover {
	background: -moz-linear-gradient(
		center top,
		rgba(255, 255, 255, .2) 0%,
		rgba(255, 255, 255, .1) 100%
	);/* FF3.6 */
	background: -webkit-gradient(
		linear,
		center bottom,
		center top,
		from(rgba(255, 255, 255, .1)),
		to(rgba(255, 255, 255, .2))
	);/* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF')"; /* IE8 */
}
a.button {
	position: relative;
	color:#fff;
	text-shadow:0 1px 1px rgba(0, 0, 0, 0.25);
	border-top: rgba(255, 255, 255, .2) 1px solid;
	padding:10px;
	line-height:1em;
	text-decoration:none;
	text-align:center;
	white-space: nowrap;
        -webkit-transition: none;
		-o-transition: none;
		-moz-transition: none;
		transition: none;
}
a:hover.button {
color: #fff;
}

.button.black {
	background-color: #333333;
}
.button.gray {
	background-color: #666666;
}
.button.white {
	background-color: #FFFFFF;
}
.button.white span{
	color: #666666;
}
.button.red {
	background-color: #e62727;
}
.button.orange {
	background-color: #ff5c00;
}
.button.magenta {
	background-color: #A9014B;
}
.button.yellow {
	background-color: #ffb515;
}
.button.blue {
	background-color: #00ADEE;
}
.button.pink {
	background-color: #e22092;
}
.button.green {
	background-color: #91bd09;
}
.button.rosy {
	background-color: #F16C7C;
}
.button.brown {
	background-color: #804000;
}
.button.purple {
	background-color: #800080;
}
.button.cyan {
	background-color: #46C7C7;
}
.button.gold {
	background-color: #D4A017;
}

input.button {
	color: #fff;
}

/* ===[[  ThesisLove Boxes ]]=== */

.yellow-box {
    padding: 5px;
    border: 1px solid #F5E50F;
    background-color: #fdf832;
}

.red-box {
    padding: 5px;
    border: 1px solid #cb585c;
    background-color: #e3a5a8;
}

.blue-box {
    padding: 5px;
    border: 1px solid #638897;
    background-color: #a1cddf;
}

.green-box {
    padding: 5px;
    border: 1px solid #1f9200;
    background-color: #2fdf00;
}

.download-box {
    padding: 5px;
    border: 1px solid #F5E50F;
    background-color: #fdf832;
}
.download-box:before {
    font-family: 'FontAwesome', 'Gill Sans MT', 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    /* sprites.less reset */
    display: inline;
    width: auto;
    height: auto;
    vertical-align: baseline;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    padding-right: 10px;
    float: left;
    content: "\f0ed";
    padding-bottom: 10px;
}

/* ===[[  Extra Post Styles ]]=== */

blockquote:before {
    font-family: 'FontAwesome', 'Gill Sans MT', 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    display: inline;
    width: auto;
    height: auto;
    vertical-align: baseline;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    margin-top: 0;
    padding-right: 20px;
	padding-bottom: 10px;
    float: left;
    color: #777;
}

blockquote {
    color: #777;
}



/* ===[[ ThesisLove Widget Styles ]]=== */

		/* ThesisLove Featured Posts */

.thesislove-featured-posts {
    line-height: 1.2em;
margin-left: 0;
display: inline;

}

.thesislove-featured-posts-thumb {
    float: left;
    width: 30%;
}

.thesislove-featured-posts-description {
    float: right;
    width: 65%;
	padding-left: 5px;
}

.thesislove-featured-posts-thumb img {
    padding: 3px;
    border: 1px solid #eee;
}

.footer .thesislove-featured-posts img {
    border-color: #333;
}

.thesislove-featured-posts li {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #eee;
    list-style: none;
}

.thesislove-featured-posts li .title {
    font-weight: bold;
}

.thesislove-featured-posts li .title:hover {
    text-decoration: none;
}

.thesislove-featured-posts li .date {
    font-size: 11px;
    color: #777;
}

.footer .thesislove-featured-posts li {
    border: none;
}

.footer .thesislove-featured-posts li img {
    border: none;
    padding: 0px;
}

.footer .thesislove-featured-posts-description {
    width: 70%;
}

		/* ThesisLove Optin Form */

.thesislove-optin-form input.button {
    width: 100%;
}

.thesislove-optin-form input.email {
    width: 100%;
}

.thesislove-optin-form input.name {
    width: 100%;
}

.footer .thesislove-optin-form input { box-shadow:none; }

/* ===[[ ThesisLove Misc. ]]=== */

.divider {
    background-image: url(images/divider_line_footer.gif);
    background-position: 50% 50%;
    background-repeat: repeat no-repeat;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 20px;
    width: auto;
}

#site_tagline {
    clear: both;
}

#searchsubmit {
    -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 1px 1px 0 0;
	-moz-box-shadow: rgba(0, 0, 0, 0.298039) 1px 1px 0 0;
	box-shadow: rgba(0, 0, 0, 0.298039) 1px 1px 0 0;
    background-position: 50% 100%;
    background-repeat: repeat no-repeat;
    box-shadow: rgba(0, 0, 0, 0.298039) 0 1px 0 0;
    color: #FFFFFF;
    font-size: 17px;
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.498039) 0 -1px;
display: inline-block;
}

input.color.scheme {
    border-radius: 40px;
}

#searchsubmit:hover {
    cursor: pointer;
    background-position: 50% 100%;
    background-repeat: repeat no-repeat;
    box-shadow: rgba(0, 0, 0, 0.298039) 0 1px 0 0;
    color: #FFFFFF;
    font-size: 17px;
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.498039) 0 -1px;
}

.clearfix:before,  
.clearfix:after {  
    content: " ";  
    display: table;  
}  
.clearfix:after {  
    clear: both;  
}  
/* For IE 6/7 only */  
.clearfix {  
    *zoom: 1;  
}  



.menu:after, .header-nav:after, .main-content .page:after, .content .postbox:after, .content .postbox .post_content:after, .comment .comment_text:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

/* ===========================================================[[ ThesisLove Boxes Styles ]]=======================================================*/

/* Thesislove Author Box */

#thesislove-postauthor .avatar {
    float: left;
    margin-right: 12px;
    border-radius: 40px;
}

#thesislove-postauthor h4 {
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 8px;
}

#thesislove-postauthor {
    background: #f2f2f2;
    -webkit-box-shadow: rgba(0, 0, 0, 0.0470588) 0 0 10px;
    -webkit-transition: all 0.25s ease-in-out;
    border: 1px solid #DDDDDD;
    box-shadow: rgba(0, 0, 0, 0.0470588) 0 0 10px;
    padding: 12px;
    font-size: 13px;
    margin: 10px 0px;
}


.feature-boxes ul li {
    width: 250px;
    text-align: center;
    padding: 10px;
    list-style: none;
    display: inline-block;
    margin-right: 25px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 6px;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 6px;
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 6px;
}

.feature-boxes i {
    font-size: 70px;
}

.feature-boxes p {
    margin-bottom: 10px;
}

.feature-boxes {
    display: table;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
}

.feature-boxes ul {
    min-width: 220px;
    list-style: none;
}

.feature-boxes h2 {
    font-size: 30px;
    padding-bottom: 5px;
}

#page-nav {
display: inline-block;
float: left;
margin: 15px 0;
padding: 5px 0;
width: 100%;
}
#page-nav-intro {
border: 1px solid #CCCCCC;
color: #606060;
float: left;
font-size: 15px;
font-weight: bold;
margin: 0 5px 0 0;
padding: 2px 10px;
}
.page-numbers {
border: 1px solid #CCCCCC;
color: #0a0a0a;
float: left;
font-size: 15px;
font-weight: bold;
margin: 0 5px;
padding: 2px 10px;
}


.sharebar {
    float: left;
    border: 1px solid #BBBBBB;
    top: 200px;
    position: fixed;
    background: #FFF;
    width: 70px;
    z-index: 0;
	-moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: rgba(0, 0, 0, 0.199219) 1px 0 15px;
    box-shadow: rgba(0, 0, 0, 0.199219) 1px 0 15px;
    -webkit-border-radius: 10px;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #FFFFFF;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-right: 50px;
    margin-left: 15px;
}

.tweet_sharer {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 2px;
}

.stumble_sharer {
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px;
}

.like_sharer {
    margin-left: 11px;
    margin-bottom: 2px;
}

.tweet_sharer {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 2px;
}

.gplus_sharer {
    text-align: center;
    margin-bottom: 2px;
}

.lin_sharer {
	text-align:center;
	margin-top:2px;
}

.scoopit_sharer {
    text-align: center;
    margin-top: 3px;
}

.buffer_sharer {
	text-align:center;
	margin-top: 3px;
}

.peppy-boxes {
    display: table;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
}

.peppy-boxes ul {
    min-width: 250px;
	list-style: none;
}

.peppy-boxes li:last-child {
    margin-right: 0px;
}

.peppy-boxes li a {
    text-align: center;
    width: 100%;
    height: 100%;
    display: block;
    color: #333;
	position:relative;
}

.peppy-boxes i {
    font-family: 'FontAwesome';
    text-align: center;
    text-decoration: none;
    font-size: 70px;
    color: #333;
    text-shadow: 0px 0px 1px #333;
    line-height: 110px;
    position: relative;
    width: 100%;
    height: 50%;
    top: 0px;
	left: 0px;
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    transition: all 400ms linear;
}

.peppy-content {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 50%;
    top: 50%;
}

.peppy-content-main {
    font-size: 30px;
    opacity: 0.8;
    text-align: center;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}

.peppy-content-sub {
    text-align: center;
    font-size: 14px;
    color: #666;
    line-height: 20px;
    opacity: 0.8;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}

.peppy-boxes li:hover {
    background-color: #000;
}

.peppy-boxes li:hover i {
    color: #fff;
    font-size: 90px;
}

.peppy-boxes li:hover .peppy-content-main {
	color: #fff;
    -webkit-animation: moveFromLeftRotate 300ms ease;
    -moz-animation: moveFromLeftRotate 300ms ease;
    -ms-animation: moveFromLeftRotate 300ms ease;
}

.peppy-boxes li:hover .peppy-content-sub {
    color: #fff;
    -webkit-animation: moveFromBottom 500ms ease;
    -moz-animation: moveFromBottom 500ms ease;
    -ms-animation: moveFromBottom 500ms ease;
}

.peppy-boxes ul li {
    width: 240px;
    height: 250px;
    overflow: hidden;
    background: #fff;
	list-style:none;
	display: inline-block;
	padding: 10px;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
    margin-right: 10px;
}


@-webkit-keyframes moveFromLeftRotate{
    from {
        -webkit-transform: translateX(-100%) rotate(-90deg);
    }
    to {
        -webkit-transform: translateX(0%) rotate(0deg);
    }
}
@-moz-keyframes moveFromLeftRotate{
    from {
        -moz-transform: translateX(-100%) rotate(-90deg);
    }
    to {
        -moz-transform: translateX(0%) rotate(0deg);
    }
}
@-ms-keyframes moveFromLeftRotate{
    from {
        -ms-transform: translateX(-100%) rotate(-90deg);
    }
    to {
        -ms-transform: translateX(0%) rotate(0deg);
    }
}

@-webkit-keyframes moveFromBottom {
    from {
        -webkit-transform: translateY(100%);
    }
    to {
        -webkit-transform: translateY(0%);
    }
}
@-moz-keyframes moveFromBottom {
    from {
        -moz-transform: translateY(100%);
    }
    to {
        -moz-transform: translateY(0%);
    }
}
@-ms-keyframes moveFromBottom {
    from {
        -ms-transform: translateY(100%);
    }
    to {
        -ms-transform: translateY(0%);
    }
}

.single-email {
    background-color: #F6F6F6;
    border: 1px solid #DDDDDD;
    text-align: center;
    padding: 20px;
    width: 100%;
    height: auto;
}

.single-email h4 {
    padding: 7px 0;
}

.single-email form {
    text-align: center;
    height: auto;
    margin-bottom: -25px
;
}

.single-email form p {
    display: inline-block;
}

/* ===========================================================[[ It's All About Responsiveness, homeh! ]]=======================================================*/

@media only screen and (max-width: 1054px) {
	
.page { width: auto; float: none; }
img, video, .video object, .video embed, iframe  {max-width:100%; height:auto;}
.main-content .page { margin-left: 20px; margin-right: 20px; }
.main-content .page .content { width: 62%; padding-left: 0px; }
.main-content .page .sidebar { width: 37%; margin-left: 0px; }
.menu { width: auto; margin: 0 auto; }
.menu ul li { border-left: 1px solid #777; }
.postbox { margin-left: 10px; }

.feature-boxes { width: auto; }
.content { padding-right: 10px; }
a.num_comments_link { float: none; }

.peppy-boxes ul {
    width: auto;
}

.peppy-boxes { width: auto; }

#header .page {
    margin: 0 10px;
}

.nav-container .page {
    margin: 0 10px; 
}

}

@media only screen and (max-width: 830px) {
	
.header-widget { display: none; }
#header .logo, #header #site_title { display: block; float: none; text-align: center; clear: both; }
.main-content .page { margin-left: 20px; margin-right: 20px; }
.main-content .page .content { float: none; width: auto; }
.main-content .page .sidebar { float: none; width: auto; border-top: 10px solid #000; }
.feature-boxes ul li { float: none; margin: 10px auto; display: block !important; clear: both; text-align: center; }
.sidebar .widget { border: 1px solid #eee; padding: 0px 12px; margin-bottom: 15px; text-align: center; }
a.num_comments_link { float: none; }
.wp125ad { float: none; display: inline; margin: 0 auto; width: auto; }
.wp125ad img { width: auto; }
ul.menu {
    width: 100%;
    display: block;
    height: auto;
}

.pre-footer-area { width: auto; margin-left: 10px; margin-right: 10px; }
.pre-footer-area .pre-footer-column { width: auto; float: none; }
.pre-footer-area .pre-footer-column { margin: 10px auto; }
.footer { width: auto; }
.footer .footer-widget { width: auto;  float: none; }
.footer .thesislove-featured-posts-description { width: auto; float: none; }
.footer .page { margin: 0px 20px; }
.footer .widget { margin-bottom: 20px; }
.footer .thesislove-optin-form { text-align: center; }

#header .page {
    margin: 0 0px;
}

.nav-container .page {
    margin: 0 0px; 
	width: auto;
}

ul.menu li {
	  width: 50%;
	  float: left;
	  position: relative;
	  border-bottom: 1px solid #313131;
	  border-right: 1px solid #313131;
  -webkit-transition: none;
  transition: none;
  -moz-transition: none;
  -o-transition: none;
}

ul.menu li a {
    font-size: 15px;
-webkit-transition: none;
transition: none;
-moz-transition: none;
-o-transition: none;
}

ul.menu i {
    font-size: 15px;
}

ul.menu ul { display: none; }
ul.header-nav ul { display: none; }

.peppy-boxes ul li { float: none; margin: 10px auto; display: block !important; clear: both; text-align: center; }

h1.archive_title {
    text-align: center;
}

.footer .footer-widget .widget {
    margin-right: 0;
}

#site_tagline {
    text-align: center;
}

.sharebar {
    display: none;
}

}

@media only screen and (max-width: 450px) {
	
.feature-boxes ul { width: 250px; margin: 0 auto; }
.post-byline { display: none; }
ul.menu { display: none; height: auto; }
nav a#pull { display: block; background-color: #0a0a0a;	width: 100%; height: 40px; position: relative; color: #fff; line-height: 40px; font-size: 18px; padding-left: 10px;	}
nav a:hover#pull { color: #fff; }
nav a#pull:after {	content:"";	background: url(images/nav-icon.png) no-repeat;	width: 30px; height: 30px; display: inline-block; position: absolute; right: 15px;top: 10px;	}
}


/* ===========================================================[[ Landing Page Styles ]]=======================================================*/

.landing #header {
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 6px;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 6px;
	box-shadow: rgba(0, 0, 0, 0.2) 0 0 6px;
}

.landing #site_title {
    display: block;
    float: none;
    text-align: center;
}


.landing #header .logo { display: block; float: none; text-align: center; clear: both; }

.landing .main-content .content {
    width: 100%;
}

.landing .main-content { margin-bottom: 10px; }

.landing .main-content .content h1.headline { text-align: center; font-size: 40px; padding-bottom: 10px; }
<p>&nbsp;</p>
<p>.</p>
